Source: xflow
Section: graphics
Priority: optional
Maintainer: Dominique Béréziat <bereziat@orphee>
Build-Depends: debhelper (>= 7), inrimage, libgtk2.0-dev, transfig
Standards-Version: 3.8.0
Vcs-Git: https://github.com/bereziat/xflow.git
Homepage: http://pequan.lip6.fr/~bereziat/softs/xflow/

Package: xflow 
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} 
Description: Image processing software
 Xflow is an utility devoted to display image 2D vector fields in a GTK
 window. Image vectors fields are embedded in an Inrimage image data.
 Xflow can display simultaneous several vector fields (in order to
 compare them), and produce postscript figures or mpeg/avi sequences
 for report or multimedia presentations.
